*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
.container{
    margin-inline: auto;
    max-width: 1440px;
}
.navbar-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-left: 100px;
}
.navbar-items{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 100px;
}
.navbar-items li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.icerik-kutu{
    position: relative;
    top: 100px;
    left: 130px;
    animation: soldanKaydir 1s ease-in-out;
}
@keyframes soldanKaydir{
    0%{
        left: -100%;
    }
    100%{
        left: 130px;
    }
}
@keyframes sagdanKaydir{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}
.text-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > p{
        text-align: left;

    }
}
.header{
    font-size: 50px;
}
.read{
    color: blue;
}
.car-box{
    position: absolute;
    left: 800px;
}
.car-box img{
    animation: sagdanKaydir 1s ease-in-out;
    position: relative;
    width: 600px;
    object-fit: cover;
}